<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Require Vue</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.min.css" />

</head>

<body>
    <div id="app" class="container is-fluid">
        <div class="tabs">
            <ul>
                <li>Started at: {{started}}</li>
                <router-link tag="li" active-class="is-active" to="/" exact><a>Home          </a></router-link>
                <router-link tag="li" active-class="is-active" to="/html"><a>HTML component</a></router-link>
                <router-link tag="li" active-class="is-active" to="/vue"><a>Vue component </a></router-link>
                <router-link tag="li" active-class="is-active" to="/async"><a>Async loaded  </a></router-link>
            </ul>
        </div>
        <div class="column is-half">
            <transition name="component-fade" mode="out-in">
                <keep-alive>
                    <router-view></router-view>
                </keep-alive>
            </transition>
        </div>
    </div>
    <script data-main="requirejs-main" src="/bower_components/requirejs/require.js"></script>
</body>

</html>